<% provide(:title, 'New Brew') %>

<h1>Edit Brew Sesions</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <%= form_for [@user, @brew_session] do |f| %>

      <div class="form-group">
        <%= f.label :style %>
        <%= f.text_field :style, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :brewing_date %>
        <%= f.date_field :brewing_date, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.radio_button :public_private, 'Public', :checked => true %>
        <%= label :public_private_public, 'Public' %>
        <%= f.radio_button :public_private, 'Private', :value => 'Private' %>
        <%= label :public_private_public, 'Private' %>
      </div>

      <div>
        <%= f.submit "Edit Brew", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
