<div class="center">
  <h1>Brews for <%= @user.username %></h1>
  <div class="panel panel-default">
    <table class="table table-striped">
      <tr>
        <th>Style</th>
        <th>Date</th>
        <th>Open-Brew?</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>

      <% @brew_sessions.each do |b_session| %>
        <tr>
          <td><%= b_session.style %></td>
          <td><%= b_session.brewing_date.strftime("Brewing on %m/%d/%y") %></td>
          <td><%= b_session.public_private %></td>
          <td><%= button_to '-', edit_user_brew_session_path(current_user.id, b_session.id), :method=>:get %></td>
          <td><%= button_to 'D', user_brew_session_path(current_user.id, b_session.id), method: :delete %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <%= link_to "New BrewSession", new_user_brew_session_path(current_user.id), class: "btn btn-large btn-primary" %>
  <%= link_to "Dashboard", dashboard_index_path, class: "btn btn-large btn-default" %>
</div>
